.container-fluid{
    background: url("photo.jpeg");
    /* background:rgba(0, 0, 0, 0.5); */
    height:100%;
    width:100%;
    opacity:1;
    }
    a{
        color:white;
        /* word-spacing:20px; */
        padding:10px;
    }
    #p{
        color:white; 
    }
.btns{
    position: relative;
}

#btn1{
    border-radius:50px;
    border: none;
    padding:3px 20px; 
    /* margin:10px 10px; */
    }  
#regbtn{
    transform: rotate(270deg);
    height: 40px;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 20px;
}
#loginbtn{
    transform: rotate(270deg);
    height: 40px;
    width: 150px;
    position: absolute;
    top: 400px;
    left: 20px;
}    
#frm{
    border-radius:50px;
    height:25px;
    width:250px;
    /* outline:none; 
    background:transparent; */
    
}
#frm1{
    border-radius:50px;
    outline:none;
    background:transparent;
}
#frm2{
    height:30px;
    width:150px;
    border-radius:50px;
}
#email,#password{
    border-radius:50px;
}
#login{
    display: none;
}
#reg{
    margin-bottom:100px;
}
select{
    border-radius:50px;
    margin:5px;
}
i{
    /* color:white; */
}